<!DOCTYPE html>
<html lang="en">

<head>
    <title>Photochnaja</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
          rel="stylesheet">
</head>

<style>
    form {
        max-width: 450px;
    }
</style>

<body>
<div id="app">
    <v-app>
        <toolbar></toolbar>
        <v-content v-bind:style="{ 'padding-bottom': '60px'}">
            <signin-form class="mt-12"></signin-form>
        </v-content>
        <ph-footer></ph-footer>
    </v-app>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>